<nav class="navbar is-dark cl-sub-nav has-text-centered-touch" [class.is-fixed-top]="fixed">
    <div class="navbar-brand">
      <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="campfireMenu" role="button"
        (click)="expand()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="clMenu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/">User Profile</a>
        <a class="navbar-item" routerLink="/">User Data</a>
        <a class="navbar-item" routerLink="/">User Activity</a>
      </div>
      <div class="navbar-end">
      </div>
    </div>
</nav>