<app-nav type="is-primary solid-black" fixed="true"></app-nav>
<app-side-nav-guilds></app-side-nav-guilds>
<div style="height: 88px" class="is-hidden-touch"></div>
<div style="height: 62px" class="is-hidden-desktop"></div>
<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container animated fadeIn" *ngIf="name">
      <div class="columns">
        <div class="column is-2 has-text-right avatarHolder is-hidden-touch">
          <img src="https://cdn.discordapp.com/icons/{{ id }}/{{ icon }}.webp?size=128" class="is-rounded">
        </div>
        <div class="column">
          <h1 class="title is-size-3">{{ name }}</h1>
          <p class="subtitle is-size-4">Manage your Campfire guild settings</p>
        </div>
      </div>
      <div class="buttons is-hidden-desktop">
        <a class="button is-light is-outlined" (click)="changeTab('home')"><i class="fas fa-home"></i> Home</a>
        <a class="button is-light is-outlined" (click)="changeTab('prefix')"><i class="fas fa-exclamation"></i> Prefix</a>
        <a class="button is-light is-outlined" (click)="changeTab('welcomer')"><i class="fas fa-handshake"></i> Welcomer</a>
        <a class="button is-light is-outlined" (click)="changeTab('logging')"><i class="fas fa-warehouse"></i> Logging</a>
        <a class="button is-light is-outlined" disabled><i class="fas fa-shield-alt"></i> Moderator</a>
        <a class="button is-light is-outlined" (click)="changeTab('roblox')"><i class="fas fa-gamepad"></i> Roblox</a>
        <a class="button is-light is-outlined" disabled><i class="fas fa-chart-pie"></i> Presence</a>
      </div>
    </div>
  </div>
</section>

<div class="app-holder">
  <app-set-home *ngIf="tab == 'home'" id="{{ id }}"></app-set-home>
  <app-prefix *ngIf="tab == 'prefix'" id="{{ id }}"></app-prefix>
  <app-welcomer *ngIf="tab == 'welcomer'" id="{{ id }}"></app-welcomer>
  <app-logging *ngIf="tab == 'logging'" id="{{ id }}"></app-logging>
  <app-roblox *ngIf="tab == 'roblox'" id="{{ id }}"></app-roblox>
  <app-ticketing *ngIf="tab == 'ticketing'" id="{{ id }}"></app-ticketing>
</div>
