<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-2 has-text-right avatarHolder is-hidden-touch">
          <img src="https://cdn.discordapp.com/icons/{{ id }}/{{ icon }}.webp?size=128" class="is-rounded">
        </div>
        <div class="column">
          <h1 class="title is-size-1">{{ name }}</h1>
          <p class="subtitle is-size-4">Manage your Campfire guild settings</p>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<div class="container">
  <app-settings-handler></app-settings-handler>
</div>
