<a class="navbar-link">
  <img src="{{ user.photoURL }}" class="is-rounded" /> Hi, {{ user.displayName }}
</a>
<div class="navbar-dropdown">
  <a routerLink="/dashboard" class="navbar-item">
    Dashboard
  </a>

  <a class="navbar-item" href="javascript:void(0)" data-cb-type="portal">
    Manage Billing
  </a>

  <!--
  <a routerLink="/presence" class="navbar-item">
    Presence <span class="tag is-normal is-rounded" style="background-color: #ffffeb; color: #947e00">BETA</span>
  </a>

  <a routerLink="/verify" class="navbar-item">
    Verification<span class="tag is-normal is-rounded" style="background-color: #ebfffc; color: #00947e">NEW</span>
  </a>
  -->
  <hr class="navbar-divider">
  <a (click)="logout()" class="navbar-item has-text-danger">
    Log out
  </a>
</div>
