<img src="../../../../../assets/spinner.svg" *ngIf="!loaded" alt="Loading" width="100px"
  style="margin: auto; display: block;">
<p *ngIf="!loaded" class="has-text-centered">Loading...</p>
<div *ngIf="loaded">
  <h1 class="subtitle is-size-5 has-text-weight-bold">Welcomer</h1>
  <div class="control">
    <a (click)="toggleWelcomer()" class="button" [class.is-danger]="!enabled" [class.is-success]="enabled"
      title="Click to enable" id="welcomer-status"><i class="fas fa-power-off"></i> {{status}}</a>
  </div>
  <br>
  <div *ngIf="enabled">
    <div class="field">
      <label class="label">Channel</label>
      <div class="control">
        <input type="text" class="input" placeholder="Channel" value="{{ channel }}" id="welcomeChannel">
        <p>
          <small class="has-text-grey">
            Don't include the # for the channel name
          </small>
        </p>
      </div>
    </div>

    <div class="field">
      <label class="label">Message</label>
      <div class="control">
        <textarea rows="2" class="textarea" placeholder="Welcome message" value="{{ message }}"
          id="welcomeMessage"></textarea>
        <p><small>
            You can use <code>$user$</code> to display the username of the user<br>
            You can use <code>$server$</code> to display the name of the server
          </small></p>
      </div>
    </div>

    <a (click)="saveData()" class="button is-primary" id="saveButton"><i class="fas fa-save"></i> Save</a>
  </div>
</div>
