<section class="hero is-small is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">Commands</h1>
    </div>
  </div>

  <div class="hero-foot has-background-dark">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a routerLink="../commands/social">Social</a></li>
          <li><a routerLink="../commands/utilities">Utilities</a></li>
          <li><a routerLink="../commands/settings">Settings</a></li>
          <li><a routerLink="../commands/moderation">Moderation</a></li>
          <li><a routerLink="../commands/fun">Fun</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<br>
<div class="container">
  <div class="box">
    <h1 class="is-size-3">Social</h1>
    <table class="table is-fullwidth is-striped is-bordered">
      <thead>
        <tr>
          <th>Command</th>
          <th>Descriptor</th>
          <th>Example Usage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>c!daily</td>
          <td>Gives you your daily tickets (every 24 hours)</td>
          <td>
            <code>c!daily</code>
          </td>
        </tr>

        <tr>
          <td>c!profile</td>
          <td>Shows your Campfire bot profile</td>
          <td>
            <code>c!profile</code>
          </td>
        </tr>

        <tr>
          <td>c!tickets</td>
          <td>Check yours or another person's tickets.</td>
          <td>
            <code>c!tickets @Marshmellow#4434</code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
