<section class="hero is-fullheight-with-navbar is-primary bg-cf-fireworks">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">Thank you!</h1>
      <h1 class="subtitle is-size-4">A big thank you to you for supporting Campfire!</h1>
      <p>Your Card will be billed for your purchase soon. For cancellations, please contact our Support Team in our
        <a class="has-text-light" href="https://campfirebot.xyz/links/support"><u>Discord</u></a></p>
    </div>
  </div>
  <div class="hero-foot">
    <div class="notification is-warning">
      We don't automatically bill your account each month, so if you want to keep your PRO next month, stop on by,
      we'll remind you of when it's about to run out via your DMs.
    </div>
  </div>
</section>
