<nav class="navbar is-white is-spaced cf-nav-bg">
  <div class="container">
    <div class="navbar-brand">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/campfire-640d7.appspot.com/o/Campfire_Wordmark.png?alt=media&token=7ad8007c-7068-47c1-ae34-92ca12402fc5"
        alt="Campfire" width="190" height="28">
      <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="campfireMenu" role="button"
        (click)="expand()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="campfireMenu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="" class="navbar-link">Commands</a>
          <div class="navbar-dropdown">
            <a href="" class="navbar-item">
              <span>
                <span class="icon has-text-danger"><i class="fas fa-bullhorn"></i></span>
                <strong>Social</strong><br>
                Handy social features
              </span>
            </a>

            <a href="" class="navbar-item">
              <span>
                <span class="icon has-text-link"><i class="fas fa-tools"></i></span>
                <strong>Utilities</strong><br>
                Useful features and skills
              </span>
            </a>

            <a href="" class="navbar-item">
              <span>
                <span class="icon has-text-warning"><i class="fas fa-cog"></i></span>
                <strong>Settings</strong><br>
                Customise the bot to your liking
              </span>
            </a>

            <a href="" class="navbar-item">
              <span>
                <span class="icon has-text-info"><i class="fas fa-shield-alt"></i></span>
                <strong>Moderation</strong><br>
                Keep your server safe & secure
              </span>
            </a>

            <a href="" class="navbar-item">
              <span>
                <span class="icon has-text-success"><i class="fas fa-chess-knight"></i></span>
                <strong>Fun</strong><br>
                Interesting funny commands
              </span>
            </a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a href="" class="navbar-link">Team</a>
          <div class="navbar-dropdown"></div>
        </div>

        <a href="" class="navbar-item">Support</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <p class="control">
            <a href="" class="button is-dark is-outlined is-rounded"><i class="fas fa-paper-plane"
                style="margin-right: 5px;"></i>Invite</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
