<nav class="navbar is-light is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/"><img src="../../assets/default-monochrome-black.svg" alt="Campfire"
          width="100px">
      </a>
      <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="campfireMenu" role="button"
        (click)="expand()">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="campfireMenu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a routerLink="../commands" class="navbar-link">Commands</a>
          <div class="navbar-dropdown">
            <a routerLink="../commands/social" class="navbar-item">
              <span>
                <span class="icon has-text-danger"><i class="fas fa-bullhorn"></i></span>
                <strong>Social</strong><br>
                Handy social features
              </span>
            </a>

            <a routerLink="../commands/utilities" class="navbar-item">
              <span>
                <span class="icon has-text-link"><i class="fas fa-tools"></i></span>
                <strong>Utilities</strong><br>
                Useful features and skills
              </span>
            </a>

            <a routerLink="../commands/settings" class="navbar-item">
              <span>
                <span class="icon has-text-warning"><i class="fas fa-cog"></i></span>
                <strong>Settings</strong><br>
                Customise the bot to your liking
              </span>
            </a>

            <a routerLink="../commands/moderation" class="navbar-item">
              <span>
                <span class="icon has-text-info"><i class="fas fa-shield-alt"></i></span>
                <strong>Moderation</strong><br>
                Keep your server safe & secure
              </span>
            </a>

            <a routerLink="../commands/fun" class="navbar-item">
              <span>
                <span class="icon has-text-success"><i class="fas fa-chess-knight"></i></span>
                <strong>Fun</strong><br>
                Interesting funny commands
              </span>
            </a>
          </div>
        </div>

        <a href="https://campfirebot.xyz/links/support" class="navbar-item">Support</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <p class="control">
            <a href="https://campfirebot.xyz/links/invite" class="button is-primary is-outlined is-rounded"><i
                class="fas fa-paper-plane" style="margin-right: 5px;"></i>Invite</a>
          </p>
        </div>
        <a *ngIf="!user" (click)="login()" class="navbar-item">Dashboard</a>
        <div *ngIf="user" app-logged-in class="navbar-item has-dropdown is-hoverable"></div>
      </div>
    </div>
  </div>
</nav>
