<app-nav></app-nav>
<section class="hero is-small is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1 is-size-1-mobile">Commands</h1>
    </div>
  </div>

  <div class="hero-foot has-background-dark">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a routerLink="../../commands/social">Social</a></li>
          <li><a routerLink="../../commands/utilities">Utilities</a></li>
          <li class="is-active"><a routerLink="../../commands/settings">Settings</a></li>
          <li><a routerLink="../../commands/moderation">Moderation</a></li>
          <li><a routerLink="../../commands/fun">Fun</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<br>
<div class="container">
  <div class="box">
    <h1 class="is-size-3">Settings</h1>
    <table class="table is-fullwidth is-striped is-bordered">
      <thead>
        <tr>
          <th>Command</th>
          <th>Descriptor</th>
          <th>Example Usage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>c!prefix (prefix)</td>
          <td>Changes the prefix of the bot in your server</td>
          <td>
            <code>c!prefix -</code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
