<img src="../../../../../assets/spinner.svg" *ngIf="!loaded" alt="Loading" width="100px"
  style="margin: auto; display: block;">
<p *ngIf="!loaded" class="has-text-centered">Loading (give us a hot sec)...</p>
<div *ngIf="loaded">
  <h1 class="subtitle is-size-5 has-text-weight-bold">Asset Binds</h1>

  <form (ngSubmit)="bindsForm(formData)" #formData="ngForm">
    <div class="field">
      <label class="label">Asset ID</label>
      <input type="number" required minlength="1" ngModel name="gr1" class="input">
    </div>

    <div class="field">
      <label class="label">Discord Role Name</label>
      <input type="text" required minlength="1" ngModel name="roleName" class="input">
    </div>

    <div class="field">
      <input id="saveButton" type="submit" class="button is-link" value="Add">
    </div>
  </form>

  <hr>

  <div *ngFor="let role of roles">
    <p><b>{{ role.id }}:</b> {{ role.name }} <a class="button is-small is-danger" (click)="delBind(role.id)">Delete</a>
    </p>
  </div>
  <hr>

  <a class="button is-link" (click)="saveBinds()" id="saveButton">Save</a>
</div>
