<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-2 has-text-right avatarHolder">
          <h1 class="is-size-1 nomarg"><i class="fas fa-user-friends"></i></h1>
        </div>
        <div class="column">
          <h1 class="title is-size-1">Select a guild</h1>
          <p class="subtitle is-size-4">Select a guild from the guilds you manage below!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column">
          <img src="https://cdn.discordapp.com/icons/514511360894173194/e9849e4cdf0c1e067a71c34537e91eae.webp?size=1024"
            class="is-rounded" width="120px">
          <p class="is-size-5">Campfire</p>
          <a class="button is-dark is-rounded is-small">Manage ></a>
        </div>

        <div class="column">
          <img src="https://cdn.discordapp.com/icons/514511360894173194/e9849e4cdf0c1e067a71c34537e91eae.webp?size=1024"
            class="is-rounded" width="120px">
          <p class="is-size-5">Campfire</p>
          <a class="button is-dark is-rounded is-small">Manage ></a>
        </div>

        <div class="column">
          <img src="https://cdn.discordapp.com/icons/514511360894173194/e9849e4cdf0c1e067a71c34537e91eae.webp?size=1024"
            class="is-rounded" width="120px">
          <p class="is-size-5">Campfire</p>
          <a class="button is-dark is-rounded is-small">Manage ></a>
        </div>
      </div>
      <br>
      <div class="columns">
        <div class="column">
          <img src="https://cdn.discordapp.com/icons/514511360894173194/e9849e4cdf0c1e067a71c34537e91eae.webp?size=1024"
            class="is-rounded" width="120px">
          <p class="is-size-5">Campfire</p>
          <a class="button is-dark is-rounded is-small">Manage ></a>
        </div>

        <div class="column">
          <img src="https://cdn.discordapp.com/icons/514511360894173194/e9849e4cdf0c1e067a71c34537e91eae.webp?size=1024"
            class="is-rounded" width="120px">
          <p class="is-size-5">Campfire</p>
          <a class="button is-dark is-rounded is-small">Manage ></a>
        </div>

        <div class="column">
          <img src="https://cdn.discordapp.com/icons/514511360894173194/e9849e4cdf0c1e067a71c34537e91eae.webp?size=1024"
            class="is-rounded" width="120px">
          <p class="is-size-5">Campfire</p>
          <a class="button is-dark is-rounded is-small">Manage ></a>
        </div>
      </div>


    </div>
  </div>
</section>
