<section class="hero is-light is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-4">Welcome to Campfire Presence!</h1>
      <h1 class="subtitle is-size-5">Enter your Group ID below</h1>

      <form (ngSubmit)="loadPresence(presenceForm)" #presenceForm="ngForm">
        <div class="field has-addons">
          <div class="control" style="flex: 1;">
            <input type="number" class="input is-fullwidth" placeholder="Go to" required minlength="1" ngModel
              name="query">
          </div>
          <div class="control">
            <input [disabled]="!presenceForm.form.valid" type="submit" class="button is-link" value="Go">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="hero is-dark is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="is-size-4">
        Presence is a Roblox Human Resource Management tool that intergrates
        directly in with your groups!
      </h1>
    </div>
  </div>
</section>

<section class="hero is-black is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="is-size-4">
        The owner of the Roblox Group has to enable this feature, and it can be
        done through
        <b>Dashboard > Guilds > (Group Guild) > Roblox > Presence</b>
      </h1>
    </div>
  </div>
</section>
