<section class="hero is-success is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-2">samuel.</h1>
    </div>
  </div>
</section>
<div class="spicy-strip"></div>
<br>

<div class="container">
  <div class="box">
    <div class="columns">
      <div class="column">
        <p class="has-text-weight-bold">Balance</p>
        <p>40</p>
      </div>

      <div class="column">
        <p class="has-text-weight-bold">Deposit</p>
        <p>70</p>
      </div>

      <div class="column">
        <p class="has-text-weight-bold">Bubbles Popped</p>
        <p>35</p>
      </div>

      <div class="column">
        <p class="has-text-weight-bold">Level</p>
        <p>7</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="columns">
    <div class="column">
      <div class="box">
        <div class="columns">
          <div class="column">
            <p class="has-text-weight-bold">Bug Hunter</p>
            <p>40</p>
          </div>
    
          <div class="column">
            <p class="has-text-weight-bold">Premium</p>
            <p>70</p>
          </div>
    
          <div class="column">
            <p class="has-text-weight-bold">Reputation</p>
            <p>35</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column"></div>
  </div>
</div>