<app-nav type="is-primary mer" fixed="true"></app-nav>
<app-side-nav></app-side-nav>
<div style="height: 88px" class="is-hidden-touch"></div>
<div style="height: 62px" class="is-hidden-desktop"></div>
<section class="hero is-link is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-2 has-text-right-desktop avatarHolder is-hidden-touch">
          <img src="{{ avatar }}" class="is-rounded" width="125px">
        </div>
        <div class="column">
          <h1 class="title is-size-3">{{ greeting }},
            {{ name }}!</h1>
          <p class="subtitle is-size-4">Welcome to the Campfire Dashboard!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="subtitle is-size-2 nomarg animated fadedInUp">
            <i class="fas fa-ticket-alt"></i>
          </h1>
          <h1 class="subtitle is-size-4 animated fadeInUp nomarg">{{ balance }}</h1>
          <h1 class="subtitle is-size-5 animated fadeInUp">Tickets</h1>
        </div>

        <div class="column has-text-centered">
          <h1 class="subtitle is-size-2 nomarg animated fadedInUp">
            <i class="fas fa-piggy-bank"></i>
          </h1>
          <h1 class="subtitle is-size-4 animated fadeInUp nomarg">{{ deposit }}</h1>
          <h1 class="subtitle is-size-5 animated fadeInUp">Deposit</h1>
        </div>

        <div class="column has-text-centered">
          <h1 class="subtitle is-size-2 nomarg animated fadedInUp">
            <i class="fas fa-trophy"></i>
          </h1>
          <h1 class="subtitle is-size-4 animated fadeInUp nomarg">{{ level }}</h1>
          <h1 class="subtitle is-size-5 animated fadeInUp">Level</h1>
        </div>

        <div class="column has-text-centered">
          <h1 class="subtitle is-size-2 nomarg animated fadedInUp">
            <i class="far fa-circle"></i>
          </h1>
          <h1 class="subtitle is-size-4 animated fadeInUp nomarg">{{ bubbles }}</h1>
          <h1 class="subtitle is-size-5 animated fadeInUp">Bubbles Popped</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="spacer"></div>

<div class="container has-text-centered">
  <p class="has-text-link"><i class="fas fa-info-circle"></i> All of your options have moved to the side</p>
</div>
