<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-2 has-text-right-desktop avatarHolder is-hidden-touch">
          <img src="{{ avatar }}" class="is-rounded">
        </div>
        <div class="column">
          <h1 class="title is-size-1">{{ greeting }}, {{ name }}!</h1>
          <p class="subtitle is-size-4">Welcome to the Campfire Dashboard!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="subtitle is-size-1 nomarg animated fadedInUp"><i class="fas fa-ticket-alt"></i></h1>
          <h1 class="subtitle is-size-3 animated fadeInUp nomarg">{{ balance }}</h1>
          <h1 class="subtitle is-size-4 animated fadeInUp">Tickets</h1>
        </div>

        <div class="column has-text-centered">
          <h1 class="subtitle is-size-1 nomarg animated fadedInUp"><i class="fas fa-trophy"></i></h1>
          <h1 class="subtitle is-size-3 animated fadeInUp nomarg">{{ level }}</h1>
          <h1 class="subtitle is-size-4 animated fadeInUp">Level</h1>
        </div>

        <div class="column has-text-centered">
          <h1 class="subtitle is-size-1 nomarg animated fadedInUp"><i class="far fa-circle"></i></h1>
          <h1 class="subtitle is-size-3 animated fadeInUp nomarg">{{ bubbles }}</h1>
          <h1 class="subtitle is-size-4 animated fadeInUp">Bubbles Popped</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<div class="container">
  <div class="columns">
    <div class="column">
      <div class="box has-text-centered">
        <h1 class="is-size-1 nomarg"><i class="far fa-id-card"></i></h1>
        <h1 class="is-size-3">Profile</h1><br>
        <a routerLink="profile" class="button is-dark is-rounded">Edit ></a>
      </div>
    </div>
    <div class="column">
      <div class="box has-text-centered">
        <h1 class="is-size-1 nomarg"><i class="fas fa-server"></i></h1>
        <h1 class="is-size-3">Guilds</h1><br>
        <a routerLink="guilds" class="button is-dark is-rounded">Manage ></a>
      </div>
    </div>
    <div class="column">
      <div class="box has-text-centered">
        <h1 class="is-size-1 nomarg"><i class="fas fa-tachometer-alt"></i></h1>
        <h1 class="is-size-3">Bot stats</h1><br>
        <a class="button is-dark is-rounded" disabled>View ></a>
      </div>
    </div>
  </div>
</div>
