<div class="container has-text-centered">
  <br><br><br>
  <div class="box">
    <figure class="avatar">
      <img src="https://identicon-api.herokuapp.com/u1KO3nydeScSosNzc8pADlXPqtg1/100?format=png" alt="">
    </figure>
    <h1 class="subtitle is-size-3 nomarg"><strong>Good evening, Sam;!</strong></h1>
    <p>Welcome to your Campfire account!</p>
  </div>

  <div class="columns">
    <div class="column">
      <div class="box">
        <h1 class="is-size-1 nomarg greyfont"><i class="fas fa-ticket-alt"></i></h1>
        <h1 class="is-size-3 nomarg greyfont">{{ balance }}</h1>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h1 class="is-size-1 nomarg greyfont"><i class="fas fa-ticket-alt"></i></h1>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <h1 class="is-size-1 nomarg greyfont"><i class="fas fa-ticket-alt"></i></h1>
      </div>
    </div>
  </div>
</div>
