<app-nav></app-nav>
<section class="hero is-small is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1 is-size-1-mobile">Commands</h1>
    </div>
  </div>

  <div class="hero-foot has-background-dark">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a routerLink="../../commands/social">Social</a></li>
          <li><a routerLink="../../commands/utilities">Utilities</a></li>
          <li><a routerLink="../../commands/settings">Settings</a></li>
          <li><a routerLink="../../commands/moderation">Moderation</a></li>
          <li class="is-active"><a routerLink="../../commands/fun">Fun</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<br>
<div class="container">
  <div class="box">
    <h1 class="is-size-3">Fun</h1>
    <table class="table is-fullwidth is-striped is-bordered">
      <thead>
        <tr>
          <th>Command</th>
          <th>Descriptor</th>
          <th>Example Usage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>c!8ball</td>
          <td>Use the magic 8ball</td>
          <td>
            <code>c!8ball am i cool?</code>
          </td>
        </tr>

        <tr>
          <td>c!pop</td>
          <td>Pop some bubble wrap</td>
          <td>
            <code>c!pop</code>
          </td>
        </tr>

        <tr>
          <td>c!cat</td>
          <td>Random cat image</td>
          <td>
            <code>c!cat</code>
          </td>
        </tr>

        <tr>
          <td>c!dog</td>
          <td>Random dog image</td>
          <td>
            <code>c!dog</code>
          </td>
        </tr>

        <tr>
          <td>c!numberfact</td>
          <td>Get a fact about the given number</td>
          <td>
            <code>c!numberfact 42</code>
          </td>
        </tr>

        <tr>
          <td>c!pizza</td>
          <td>Random pizza image</td>
          <td>
            <code>c!pizza</code>
          </td>
        </tr>

        <tr>
          <td>c!roll</td>
          <td>Roll a die (with optional side count)</td>
          <td>
            <code>c!roll 12</code>
          </td>
        </tr>

        <tr>
          <td>c!rps</td>
          <td>Rock, paper scissors.</td>
          <td>
            <code>c!rps rock</code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
