<section class="hero is-small is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="is-size-2">Commands</h1>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a routerLink="../../commands/social">Social</a></li>
          <li><a routerLink="../../commands/utilities">Utilities</a></li>
          <li><a routerLink="../../commands/settings">Settings</a></li>
          <li><a routerLink="../../commands/moderation">Moderation</a></li>
          <li class="is-active"><a routerLink="../../commands/fun">Fun</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<br>
<div class="container">
  <div class="box">
    <h1 class="is-size-3">Fun</h1>
    <table class="table is-fullwidth is-striped is-bordered">
      <thead>
        <tr>
          <th>Command</th>
          <th>Descriptor</th>
          <th>Example Usage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>c!8ball (question)</td>
          <td>Asks the magic 8ball a question.</td>
          <td>
            <code>c!8ball Is Campfire a good bot?</code>
          </td>
        </tr>

        <tr>
          <td>c!pop</td>
          <td>Pops bubblewrap</td>
          <td>
            <code>c!pop</code>
          </td>
        </tr>

        <tr>
          <td>c!flip</td>
          <td>Flips a coin</td>
          <td>
            <code>c!flip</code>
          </td>
        </tr>

        <tr>
          <td>c!dog</td>
          <td>Sends a random picture of a dog</td>
          <td>
            <code>c!dog</code>
          </td>
        </tr>

        <tr>
          <td>c!cat</td>
          <td>Sends a random picture of a cat</td>
          <td>
            <code>c!cat</code>
          </td>
        </tr>

        <tr>
          <td>c!numberfact (number)</td>
          <td>Gets a fact about the given number</td>
          <td>
            <code>c!numberfact 43</code>
          </td>
        </tr>

        <tr>
          <td>c!roll (sides?)</td>
          <td>Rolls a die - Optional Argument: Number of sides.</td>
          <td>
            <code>c!roll 12</code>
          </td>
        </tr>

        <tr>
          <td>c!rps (rock/paper/scissors)</td>
          <td>Plays rock, paper, scissors with the bot.</td>
          <td>
            <code>c!rps rock</code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
