<section class="hero is-small is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">Commands</h1>
    </div>
  </div>

  <div class="hero-foot has-background-dark">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a routerLink="../../commands/social">Social</a></li>
          <li><a routerLink="../../commands/utilities">Utilities</a></li>
          <li><a routerLink="../../commands/settings">Settings</a></li>
          <li><a routerLink="../../commands/moderation">Moderation</a></li>
          <li class="is-active"><a routerLink="../../commands/fun">Fun</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<br>
<div class="container">
  <div class="columns">
    <div class="column">
      <div class="box cf-8ball-box cf-command-box">
        <h1 class="circ title is-size-4 has-text-white"><span class="has-text-outlined">c!</span>8ball</h1>
        <h1 class="subtitle is-size-6 has-text-white">Ask the magic 8ball a question</h1>
        <div class="tooltip-holder tooltip" data-tooltip="Usage: c!8ball (question)">
          <i class="fas fa-info-circle has-text-white expand-icon"></i>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="box cf-pop-box cf-command-box">
        <h1 class="circ title is-size-4 has-text-white"><span class="has-text-outlined">c!</span>pop</h1>
        <h1 class="subtitle is-size-6 has-text-white">Pops a bubble</h1>
        <div class="tooltip-holder tooltip" data-tooltip="Usage: c!pop">
          <i class="fas fa-info-circle has-text-white expand-icon"></i>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="box cf-coin-box cf-command-box">
        <h1 class="circ title is-size-4 has-text-white"><span class="has-text-outlined">c!</span>flip</h1>
        <h1 class="subtitle is-size-6 has-text-white">Flip a coin</h1>
        <div class="tooltip-holder tooltip" data-tooltip="Usage: c!flip">
          <i class="fas fa-info-circle has-text-white expand-icon"></i>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="box cf-dog-box cf-command-box">
        <h1 class="circ title is-size-4 has-text-white"><span class="has-text-outlined">c!</span>dog</h1>
        <h1 class="subtitle is-size-6 has-text-white">Cute dogs!</h1>
        <div class="tooltip-holder tooltip" data-tooltip="Usage: c!dog">
          <i class="fas fa-info-circle has-text-white expand-icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="box cf-cat-box cf-command-box">
        <h1 class="circ title is-size-4 has-text-white"><span class="has-text-outlined">c!</span>cat</h1>
        <h1 class="subtitle is-size-6 has-text-white">Meowww!</h1>
        <div class="tooltip-holder tooltip" data-tooltip="Usage: c!cat">
          <i class="fas fa-info-circle has-text-white expand-icon"></i>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="box cf-nf-box cf-command-box">
        <h1 class="circ title is-size-4 has-text-white"><span class="has-text-outlined">c!</span>numberfact</h1>
        <h1 class="subtitle is-size-6 has-text-white">Get facts about the given number</h1>
        <div class="tooltip-holder tooltip" data-tooltip="Usage: c!numberfact (number)">
          <i class="fas fa-info-circle has-text-white expand-icon"></i>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="box cf-roll-box cf-command-box">
        <h1 class="circ title is-size-4 has-text-white"><span class="has-text-outlined">c!</span>roll</h1>
        <h1 class="subtitle is-size-6 has-text-white">Roll a die</h1>
        <div class="tooltip-holder tooltip" data-tooltip="Usage: c!roll (sides?)">
          <i class="fas fa-info-circle has-text-white expand-icon"></i>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="box cf-rps-box cf-command-box">
        <h1 class="circ title is-size-4 has-text-white"><span class="has-text-outlined">c!</span>rps</h1>
        <h1 class="subtitle is-size-6 has-text-white">Play Rock, Paper, Scissors</h1>
        <div class="tooltip-holder tooltip" data-tooltip="Usage: c!rps (rock/paper/scissors)">
          <i class="fas fa-info-circle has-text-white expand-icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-3">
      <div class="box cf-pizza-box cf-command-box">
        <h1 class="circ title is-size-4 has-text-white"><span class="has-text-outlined">c!</span>pizza</h1>
        <h1 class="subtitle is-size-6 has-text-white">Mmm pizza!</h1>
        <div class="tooltip-holder tooltip" data-tooltip="Usage: c!pizza">
          <i class="fas fa-info-circle has-text-white expand-icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
