<app-nav></app-nav>
<section class="hero is-small is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1 is-size-1-mobile">Commands</h1>
    </div>
  </div>

  <div class="hero-foot has-background-dark">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a routerLink="../../commands/social">Social</a></li>
          <li class="is-active"><a routerLink="../../commands/utilities">Utilities</a></li>
          <li><a routerLink="../../commands/settings">Settings</a></li>
          <li><a routerLink="../../commands/moderation">Moderation</a></li>
          <li><a routerLink="../../commands/fun">Fun</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<br>
<div class="container">
  <div class="box">
    <h1 class="is-size-3">Utilities</h1>
    <table class="table is-fullwidth is-striped is-bordered">
      <thead>
        <tr>
          <th>Command</th>
          <th>Descriptor</th>
          <th>Example Usage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>c!calc</td>
          <td>Calculates a mathematical calculation provided.</td>
          <td>
            <code>c!calc pi * 40</code>
          </td>
        </tr>

        <tr>
          <td>c!ping</td>
          <td>Shows the latency of the bot</td>
          <td>
            <code>c!ping</code>
          </td>
        </tr>

        <tr>
          <td>c!help</td>
          <td>Gives you help on the bots commands</td>
          <td>
            <code>c!help</code>
          </td>
        </tr>

        <tr>
          <td>c!remind</td>
          <td>Remind you to do something</td>
          <td>
            <code>c!remind 10m grab lunch</code>
          </td>
        </tr>

        <tr>
          <td>c!conv</td>
          <td>Convert fahrenheit to celsius (vice-versa)</td>
          <td>
            <code>c!conv f 400</code>
          </td>
        </tr>

        <tr>
          <td>c!suggest</td>
          <td>Suggest something to the #suggestions channel</td>
          <td>
            <code>c!suggest add a weather feature</code>
          </td>
        </tr>

        <tr>
          <td>c!urban</td>
          <td>Look something up on Urban Dictionary - Must be ran in a NSFW channel</td>
          <td>
            <code>c!urban campfire</code>
          </td>
        </tr>

        <tr>
          <td>c!weather</td>
          <td>Get the weather for the given location</td>
          <td>
            <code>c!weather London</code>
          </td>
        </tr>

        <tr>
          <td>c!pro</td>
          <td>Find out when your PRO subscription ends</td>
          <td>
            <code>c!pro</code>
          </td>
        </tr>

        <tr>
          <td>c!opt</td>
          <td>Allows users to switch away from a roll named 'Sessions'. This is useful for guilds using session announcements.</td>
          <td>
            <code>c!opt</code>
          </td>
        </tr>

        <tr>
          <td>c!verify</td>
          <td>ROBLOX FEATURE - Verify user accounts</td>
          <td>
            <code>c!verify</code>
          </td>
        </tr>

        <tr>
          <td>c!reverify</td>
          <td>ROBLOX FEATURE - Rerun verification</td>
          <td>
            <code>c!reverify</code>
          </td>
        </tr>

        <tr>
          <td>c!whois</td>
          <td>ROBLOX FEATURE - Find out who is verified</td>
          <td>
            <code>c!whois @Marshmellow#4434</code>
          </td>
        </tr>

        <tr>
          <td>c!new</td>
          <td>Open a new support ticket</td>
          <td>
            <code>c!new</code>
          </td>
        </tr>

        <tr>
          <td>c!status</td>
          <td>Change the status of the support ticket (only for Support Staff of that specific server)</td>
          <td>
            <code>c!status</code>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
