<div class="hero is-dark is-fullheight-with-navbar cf-fire-bg">
  <div class="hero-body">
    <div class="container animated fadeInUp">
      <div class="columns">
        <div class="column has-text-centered">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/campfire-640d7.appspot.com/o/Logo.png?alt=media&token=6639e573-7e02-4ac5-a7a5-c2222d09ceb7"
            alt="" class="cf-circular-pfp">
          <h1 class="is-size-2 cf-eight no-marg">Campfire</h1>
          <p class="nomarg">A helpful social bot</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hero is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1 greyfont">Keep your server active!</h1>
      <h1 class="subtitle greyfont">With heaps of social features</h1>
      <hr class="dark thin">
    </div>
    <br>
    <div class="container">
      <div class="columns">
        <div class="column has-text-centered">
          <h1 class="is-size-1 nomarg greyfont"><i class="fas fa-ticket-alt"></i></h1>
          <p class="is-size-3 greyfont" style="margin-top: -10px">Daily Tickets</p>
        </div>

        <div class="column has-text-centered">
          <h1 class="is-size-1 nomarg greyfont"><i class="fas fa-trophy"></i></h1>
          <p class="is-size-3 greyfont" style="margin-top: -10px">Leaderboard</p>
        </div>

        <div class="column has-text-centered">
          <h1 class="is-size-1 nomarg greyfont"><i class="fas fa-user-circle"></i></h1>
          <p class="is-size-3 greyfont" style="margin-top: -10px">Profiles</p>
        </div>

        <div class="column has-text-centered">
          <h1 class="is-size-1 nomarg greyfont"><i class="fas fa-award"></i></h1>
          <p class="is-size-3 greyfont" style="margin-top: -10px">Giveaways</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column">
          <a href="https://discordbots.org/bot/579415199979798539">
            <img src="https://discordbots.org/api/widget/status/579415199979798539.svg?noavatar=true" alt="">
          </a>
        </div>
        <div class="column">
          <a href="https://discordbots.org/bot/579415199979798539">
            <img src="https://discordbots.org/api/widget/servers/579415199979798539.svg?noavatar=true" alt="">
          </a>
        </div>
        <div class="column">
          <a href="https://discordbots.org/bot/579415199979798539">
            <img src="https://discordbots.org/api/widget/lib/579415199979798539.svg?noavatar=true" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hero is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1 greyfont">Always online</h1>
      <h1 class="subtitle greyfont" style="margin-top: 5px;">Powerful simplicity!</h1>
      <hr class="dark thin">
      <br>
      <div class="columns">
        <div class="column">
          <div class="box cf-displayInfo has-text-centered">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/campfire-640d7.appspot.com/o/AWS.png?alt=media&token=332be37e-848f-46f8-848a-aa7f06c9225e"
              alt="Amazon Web Services" width="40%">
            <p class="subtitle greyfont is-size-4">Hosted on Amazon Servers</p>
            <p>Campfire is hosted on fast and premium cloud computing services, powered by AWS. This means that we have
              almost 100% uptime. We make sure the bot stays online, so you can have peace of mind knowing that it
              always will be!</p><br>
            <p>What's more? We have backup servers from Digital Ocean and Google Cloud in case anything goes wrong.</p>
          </div>
        </div>
        <div class="column">
          <div class="box cf-displayInfo has-text-centered">
            <img
              src="https://firebasestorage.googleapis.com/v0/b/campfire-640d7.appspot.com/o/Node.png?alt=media&token=b874337c-e10f-48cc-b3c1-15b9a080bd3e"
              alt="Node.js" width="25%">
            <p class="subtitle greyfont is-size-4">Built with Node</p>
            <p>Campfire is built with <a target="_blank" href="https://discord.js.org">Discord.js</a> for the best user
              experience and is powered by Chromium's V8 engine via Node.js.</p><br>
          </div>
        </div>
      </div>
    </div>
    <hr class="lighter justthin">

    <div class="container has-text-centered">
      <h1 class="title is-size-1 greyfont">Moderation</h1>
      <h1 class="subtitle greyfont">Keeping your community safe</h1>
      <hr class="dark thin">
    </div>

    <hr class="lighter justthin">

    <div class="container has-text-centered">
      <h1 class="title is-size-1 greyfont">Heaps of fun!</h1>
      <h1 class="subtitle greyfont">A touch of amusement</h1>
      <hr class="dark thin">
    </div>
  </div>
</div>

<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-size-1"><span class="has-text-primary">Lighten</span> up your community with Campfire</h1>
      <span class="control">
        <a href="https://campfirebot.xyz/links/invite" class="button is-light is-inverted is-rounded"
          style="margin-right: 10px;">Invite Campfire</a>
        <a href="https://campfirebot.xyz/links/discord" class="button is-light is-outlined is-rounded">Support</a>
      </span>
    </div>
  </div>
</section>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p>&copy; Campfire 2019 - All Rights Reserved</p>
    </div>
  </div>
</section>
