<img src="../../../../../assets/spinner.svg" *ngIf="!loaded" alt="Loading" width="100px"
  style="margin: auto; display: block;">
<p *ngIf="!loaded" class="has-text-centered">Loading...</p>
<div *ngIf="loaded">
  <h1 class="subtitle is-size-5 has-text-weight-bold">Verification</h1>

  <div class="field">
    <a (click)="toggleVerify()" class="button" [class.is-danger]="!enabled" [class.is-success]="enabled"
      title="Click to enable" id="welcomer-status"><i class="fas fa-power-off"></i> {{status}}</a>
  </div>

  <form (ngSubmit)="setRoblox(formData)" #formData="ngForm" *ngIf="enabled">
    <div class="field">
      <label class="label">Verified Role Name</label>
      <input type="text" ngModel="{{ role }}" name="role" required minlength="1" class="input">
      <p class="has-text-danger has-text-left" style="margin-top: 3px;"
        *ngIf="!formData.controls.role?.valid && formData.controls.role?.touched">
        <i class="fas fa-exclamation-circle"></i> Invalid Role Name
      </p>
    </div>

    <div class="field">
      <label class="label">Group ID</label>
      <input type="number" ngModel="{{ groupId }}" name="groupId" class="input" placeholder="3141352">
      <p class="has-text-danger has-text-left" style="margin-top: 3px;"
        *ngIf="!formData.controls.groupId?.valid && formData.controls.groupId?.touched">
        <i class="fas fa-exclamation-circle"></i> Invalid Group ID
      </p>
      <p><small>If you would like to not bind a group, please leave the group ID blank</small></p>
    </div>

    <div class="field">
      <input id="saveButton" type="submit" class="button is-link" value="Save">
    </div>
  </form>
</div>
